/* CSS Document */
body { height: 100%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, a, blockquote, th, td { margin: 0; padding: 0;font-family:"Microsoft YaHei",tahoma,arial,sans-serif}
body, input, button, select, textarea, th, td, div {font-family:"Microsoft YaHei", tahoma,arial,sans-serif; font-size: 12px; line-height: 1.5;}
input { border: medium none; outline: medium none;}
img { border: medium none;}
ul { list-style-type: none;}
a { outline: medium none; text-decoration: none;}
a:active {}
a:hover { color: #0697da; text-decoration: none;}
em { font-style: normal;}
.ng-cloak{display:none !important;}
.hid{display:none}
.display-inline{display:inline-block;}
.fn_left{display:inline;float:left;}
.fn_rig{display:inline;float:right;}
.fn_cle{zoom:1}
.fn_cle:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;
height: 0;}
.w0{width:0px!important}
.w50{width:50px!important}
.w60{width:60px!important}
.w70{width:70px!important}
.w80{width:80px!important}
.w100{width:100px!important}
.w120{width:120px!important}
.w140{width:140px!important}
.w160{width:160px!important}
.w180{width:180px!important}
.w200{width:200px!important}
.w350{width:350px!important}
.w400{width:400px!important}
.w500{width:500px!important}
.w600{width:600px!important}
.w750{width:750px!important}
.f-s40{font-size:40px;}/*** 鐞涖劍鐗搁幓鎰仛妫版粏澹婇弽宄扮础 ***/
.hint-color-default{color: #B1B1B1;padding:0 5px 0 0;line-height: 25px;}
.file-box .file-button,.file-box .file-info{display: inline-block;vertical-align: middle;}
.file-box .file-button{text-align: center;font: 12px/32px "Microsoft YaHei", tahoma,arial,sans-serif;color: #fff;background-color: #62a8d1;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;height: 32px; line-height: 32px; width: 50px;position: relative;overflow: hidden;}
.file-box{}
.file-button .file-button-text{}
.file-button input[type="file"]{opacity:0;font-size:50px;position: absolute;top:0;left:0;}
.login-bg{ background:url(images/login_bg.jpg) no-repeat center top}
.logo{ text-align:center; margin:170px 0 0 0}
.ht-word{ text-align:center; margin:10px 0 0 0; font-size:20px; font-family:"瀵邦喛钂嬮梿鍛寸拨";color:#FFFFFF}
.login-bor{ width:335px; margin:0 auto}
.login-text{ border:#ACACAC solid 1px; background:#E7E7E7; height:18px; width:295px;border-radius: 5px; box-shadow:1px 1px 1px #ACACAC inset; padding:10px 20px; color:#666666;vertical-align:middle}
.login-text1{ border:#ACACAC solid 1px; background:#fff; height:18px; width:295px;border-radius: 5px; box-shadow:1px 1px 1px #ACACAC inset; padding:10px 20px; color:#666666;vertical-align:middle}
.login-bor .login-item{ margin:15px 0px }
.login-bor .login-item  img{ vertical-align:middle;margin-left:3px;cursor:pointer}
.login-bor .no-margin{font-size:0px;letter-spacing:-4px}
.login-button{ background:#FF5A00; text-align:center; width:335px; border-radius: 5px;font-size:20px;color:#FFFFFF; height:40px; line-height:40px; cursor:pointer}
.login-button:hover{ background:#FF7200}
.login-bor span.error{ color:#ff0000; display:block; margin:10px 0 0 0;}
.browser-hint {position: absolute;color: #fff;}
.browser-hint a {color: #EBF11D;text-decoration: underline;}

/*** 鐞涖劍鐗搁崚妤勩�濡楋拷***/
.info_list{width: 100%;overflow: auto;}

/*** 鐞涖劍鐗告径鎾劥閹兼粎鍌ㄥ锟�**/
.src_box{height:auto;}
.src_box ul li{display:inline-block;width:260px;margin:10px 0px;vertical-align:top}
.src_box ul li label{width:auto;min-width:70px;text-align:right;height:31px;line-height: 31px;margin:0 5px 0 0;}
.src_box ul li.srcbtn_box{display:inline-block;width:80px;vertical-align:top}
.src_box ul li.srcbtn_box .srcbtn{display:block;width:80px;height:30px;line-height:30px;background:#62a8d1;color:#fff;font-size:15px;cursor:pointer;}
.src_box ul li.srcbtn_box .srcbtn:hover{background:#438eb9}

/*** 鐞涖劍鐗告晶鐐插閸掔娀娅庢穱顔芥暭閹稿鎸抽弽宄扮础 ***/
.ui_dygrid_view{padding:0px 10px}
.ui_dygrid_view ul li{float:left;line-height:30px;margin:5px 0px}
.ui_dygrid_view ul li:hover{background:#f6f6f6;}
.ui_dygrid_view ul li a{color:#fff;font-size:13px;padding:6px 15px;}
.ui_dygrid_view ul li:hover a{color:#333;}
.ui_dygrid_view ul li a i{font-size:14px;margin-right:5px}

/*** 鐞涖劍鐗搁崚妤勩�閸欏﹤鍨庢い鍨壉瀵拷***/
.ui_dygrid_view{height: 40px;line-height: 24px;color: #FFF;background: #87b87f;padding-left: 10px;font-size: 15px;}
.ui_dygrid_view .ui_dygrid_title{float: left;margin: 8px;}
.ui_dygrid_htable{width:100%;border: 1px solid #e1e1e1}
.ui_dygrid_htable thead{background-color: #eff3f8;}
.ui_dygrid_htable .ui_dygrid_labels{border-bottom: 0;background: #f2f2f2;background-image: -webkit-gradient(linear,left 0,left 100%,from(#f8f8f8),to(#ececec));background-image: -webkit-linear-gradient(top,#f8f8f8,0%,#ececec,100%);background-image: -moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0);padding: 0!important;border-left: 1px solid #e1e1e1!important;}
.ui_dygrid_htable th{border-right: 1px solid #e1e1e1!important;text-align: left!important;height: 45px;line-height:45px;padding:0px 2px 0px 5px;
font-size: 13px;color: #777;font-weight: bold;}
.ui_dygrid_htable th.ui_th_column {overflow: hidden;white-space: nowrap;text-align: center;border-top: 0 none;border-bottom: 0 none;}
.ui_dygrid_htable td{border: 1px solid #e1e1e1!important;text-align: left!important;line-height:24px;padding:5px;font-size: 13px;color: #777;max-width: 200px;word-wrap: break-word;overflow: hidden;}
.ui_dygrid_htable tr.odd{background:#eff4f7}
.ui_dygrid_htable tr.active{background:#FFF8B3}

.pages{padding-top: 15px;}
.pages li{float:left;display:inline;border: 1px solid #dedede;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;margin-right:3px;}
.pages li a{color: #444;display: inline-block;line-height: 20px;padding: 2px 10px;}
.pages li.active{background:#6faed9}
.pages li.active a{color: #fff;}
.pages li.disabled{background:#ddd}
.pages li.disabled a{cursor: not-allowed;}
.pages .pagego_box{margin-left:30px}
.pages .page_input{width:40px;height:26px;vertical-align:top}
.pages .page_go{padding:0px 15px;height: 26px;line-height: 26px;background: #62a8d1;color: #fff;font-size: 14px;cursor: pointer;}
.pages .page_code{height:40px;padding-bottom: 15px;}


/*** 绾喖鐣鹃崣鏍ㄧХ閹稿鎸�***/
.dybtn{display: inline-block;min-width: 80px;height: 30px;line-height: 30px;color: #fff;font-size: 15px;padding: 0 10px;cursor: pointer;}
.dybtn-save-light{background: #8EC9EC;}
.dybtn-save{background: #62a8d1;}
.dybtn-save:hover{background:#438eb9}
.dybtn-cancel{background:#ddd}
.dybtn-cancel:hover{background:#ccc}


/*** 鐠囬攱鐪伴崝鐘烘祰閼冲本娅欓崶锟�**/
.shade-loading{width: 100%;height: 100%;_height: expression(document.body.offsetHeight+"px");background:#fff url("images/shade_loading.gif") no-repeat center center;position: fixed;_position: absolute;top: 0;left: 0;z-index:999;}


/*** 鐞涖劍鐗告宀冪槈閹绘劗銇氶弽宄扮础 ***/
.validation-invalid, .validation-valid{display:inline-block;}
.validation-invalid, .warning-msg{color:#ff0000;}
.validation-valid{color:green;}

/** 閸楀繗顔呴弻銉ф箙 **/
.service-detail-box {padding: 20px 10px;overflow: hidden;}
.service-detail-box .lbl{font-weight: bold !important;}
.service-detail {width: auto;height: 300px;overflow-y: scroll;border: 1px solid #ededed;padding: 5px;margin-bottom: 10px;}
.txt-center {text-align: center;}
.mt20 {margin-top: 20px;}

/*** 鐞涖劍鐗哥紓鏍帆閺嶅洭顣藉锔界埉閺嶅嘲绱�***/
.w-24{width:24px;}
.border-b{border-bottom: 1px dotted #d5e4f1;}
.border-t{border-top: 1px dotted #d5e4f1;}
tr:first-child.border-t{border-top: none;}
.lineheight-32{line-height: 32px;}
.mright-5{margin-right: 5px;}
.single-img-box{margin-bottom: 5px;}
.single-img-box a{padding-left:5px;}
.loading-img{background:url(images/loading.gif) no-repeat center center;}

.todo-list {padding: 10px 0;clear:both;overflow: hidden;border-bottom: 1px dotted #e4e4e4;}
.todo-list h3{padding: 10px 0;}
.todo-list [class*="col-"] {padding: 5px 0 0 0;font-size: 14px;}
.todo-list [class*="col-"] > label{padding-right: 10px;}
/*** 閺屻儳婀呮い鐢告桨 ***/
.info-view .srcbtn{
  display: inline-block;
  width: auto;
  min-width: 60px;
  height: 30px;
  line-height: 30px;
  padding: 0px 5px;
  background: #62a8d1;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.info-view fieldset {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #428bca;
}
.info-view fieldset legend {
    width: auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    margin-left: -1px;
    padding: 5px;
    border: 1px solid #428bca;
}
.info-view fieldset legend:hover {
    color: #fff;
    background-color: #428bca;
}
.info-view fieldset p, .info-view fieldset label, .info-view fieldset span {
    display: inline-block;
    vertical-align: middle;
}
.info-view fieldset label {
    width: 120px;
    text-align: right;
    margin: 0;
}
.info-view fieldset p {
    text-align: left;
    float: left;
    width: 380px;
    padding: 5px 0;
}
.info-view fieldset.info p {
    width: auto;
}
.info-view fieldset.info img {
    max-width: 100%;
}

.info-view fieldset span {
    color: #7F7F7F;
}
.info-view table.list {
  border-collapse: collapse;
  border: solid 1px #ededed;
  margin-bottom: 20px;
}
.info-view table.list td {
  padding: 4px 2px;
  line-height: 21px;
  border-right: solid 1px #ededed;
} 
.info-view table.list tbody {
    background-color: #fff;
}
.info-view table.list .right {
    text-align: right;
}
.info-view table.list .trbg {
    background-color: #eff4f7;
}
.info-view table.list .hot {
    background-color: #fff5c0;
}
.info-view table.list .hover {
    background-color: #e4f5ff;
}
.info-view table.list .selected {
    background-color: #7cc5e5;
    border-color: #b8d0d6;
}
.infobox-data-number em.big{ font:26px/1.5 'Microsoft yahei';}
.infobox-data-number em.cl6{ color:#666;font-size: 14px;}

/*404妞ょ敻娼�/
/* line 514, ../sass/style.scss */
.error404 {
  height: 775px;
  background: #b5e1fa;
  position: relative;
  overflow: hidden;
}
/* line 519, ../sass/style.scss */
.error404 .erbox {
  width: 400px;
  height: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -199px;
  text-align: center;
}
/* line 527, ../sass/style.scss */
.error404 .erbox .cont {
  width: 400px;
  height: 290px;
  position: relative;
  z-index: 100;
  background: url(images/box-bg.png) no-repeat;
}
/* line 534, ../sass/style.scss */
.error404 .erbox h3 {
  padding:0;
  margin:0;
  padding-top: 90px;
  padding-bottom: 5px;
  font-size: 24px;
  font-family:"microsoft yahei";
  color:#666;
  font-weight:500;
}
.error404 .erbox h4 {
  font-size: 18px;
  font-family:"microsoft yahei";
  color:#666;
  font-weight:500;
  padding:0;
  margin:0;
}
/* line 535, ../sass/style.scss */
.error404 .erbox .back {
  padding: 20px 75px 0 0;
  text-align: right;
  font-size: 14px;
}
/* line 539, ../sass/style.scss */
.error404 .erbox .back a {
  color: #0697da;
}
/* line 541, ../sass/style.scss */
.error404 .erbox .back a:hover {
  text-decoration: underline;
}
/* line 547, ../sass/style.scss */
.error404 .rocket {
  width: 122px;
  height: 111px;
  position: absolute;
  z-index: 200;
  top: -2%;
  right: -12%;
}
/* line 555, ../sass/style.scss */
.error404 .yun {
  width: 105px;
  position: absolute;
  opacity: 0;
}
/* line 559, ../sass/style.scss */
.error404 .yun.yun1 {
  top: -24%;
  left: 150%;
  -moz-animation: yun 50s linear 0s infinite;
  -webkit-animation: yun 50s linear 0s infinite;
  animation: yun 50s linear 0s infinite;
}
/* line 565, ../sass/style.scss */
.error404 .yun.yun2 {
  width: 70px;
  top: 65%;
  left: 135%;
  -moz-animation: yun 35s linear 4s infinite;
  -webkit-animation: yun 35s linear 4s infinite;
  animation: yun 35s linear 4s infinite;
}
/* line 571, ../sass/style.scss */
.error404 .yun.yun3 {
  width: 100px;
  top: 105%;
  left: -35%;
  -moz-animation: yun 70s linear 6s infinite;
  -webkit-animation: yun 70s linear 6s infinite;
  animation: yun 70s linear 6s infinite;
}
/* line 577, ../sass/style.scss */
.error404 .yun.yun4 {
  width: 70px;
  top: 30%;
  left: -38%;
  -moz-animation: yun 50s linear 1s infinite;
  -webkit-animation: yun 50s linear 1s infinite;
  animation: yun 50s linear 1s infinite;
}
/* line 583, ../sass/style.scss */
.error404 .yun.yun5 {
  top: 130%;
  left: 250%;
  -moz-animation: yun 60s linear 4s infinite;
  -webkit-animation: yun 60s linear 4s infinite;
  animation: yun 60s linear 4s infinite;
}

@-webkit-keyframes yun {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  3% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  95% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-950px, 0, 0);
    -ms-transform: translate3d(-950px, 0, 0);
    -webkit-transform: translate3d(-950px, 0, 0);
    transform: translate3d(-950px, 0, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-1000px, 0, 0);
    -ms-transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    transform: translate3d(-1000px, 0, 0);
  }
}
@-moz-keyframes yun {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  3% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  95% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-950px, 0, 0);
    -ms-transform: translate3d(-950px, 0, 0);
    -webkit-transform: translate3d(-950px, 0, 0);
    transform: translate3d(-950px, 0, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-1000px, 0, 0);
    -ms-transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    transform: translate3d(-1000px, 0, 0);
  }
}
@-ms-keyframes yun {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  3% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  95% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-950px, 0, 0);
    -ms-transform: translate3d(-950px, 0, 0);
    -webkit-transform: translate3d(-950px, 0, 0);
    transform: translate3d(-950px, 0, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-1000px, 0, 0);
    -ms-transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    transform: translate3d(-1000px, 0, 0);
  }
}
@-o-keyframes yun {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  3% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  95% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-950px, 0, 0);
    -ms-transform: translate3d(-950px, 0, 0);
    -webkit-transform: translate3d(-950px, 0, 0);
    transform: translate3d(-950px, 0, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-1000px, 0, 0);
    -ms-transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    transform: translate3d(-1000px, 0, 0);
  }
}

.dy-notice{margin-top: 50px;}
.dy-notice h2{font-size: 14px; color: #666;font-family: "simsun";font-weight: bold;margin-bottom: 20px;}
.dy-notice ul li{margin-bottom: 15px;}
.dy-notice h3{font-size: 12px; color: #666;font-family: "simsun";font-weight: bold;margin-bottom: 5px;}
.dy-notice p{font-size: 12px; color: #666;font-family: "simsun"}

.role-check>ul>li{border-bottom: 1px solid #e2e2e2;}
.role-check>ul ul {border-top: dotted 1px #e2e2e2;border-left: dotted 1px #e2e2e2;}
.role-check ul li{margin: 5px 0;}
.role-check ul.list-inline{margin-left: 18px;}
.role-check ul input{margin:0;}

/*濡�娼￠柅澶嬪*/
.ui_tpl_tit{background-image: url(/assets/images/tpl-icon.png);background-repeat: no-repeat;background-position: 12px center;padding-left: 35px;color:#fff;font-size: 14px;line-height: 40px;}
.ui_tpl{overflow-x: hidden;}
.ui_tpl_list{padding: 40px 0;border-top: 1px dashed #ccc;}
.ui_tpl_list:first-child{border: none;}
.ui_tpl_list > li{border-left: 1px dashed #ccc;padding: 0px;}
.ui_tpl_list > li:first-child{border:none;text-align: center;}
.ui_tpl_list > li > label {text-align: center;position: absolute;top:50%;margin-left: -8.33333%;margin-top: -20px;}
.ui_tpl_list .ui_tpl_img{max-width: 1000px;padding: 5px;margin: 0 25px 0 15px;position: relative;}
.ui_tpl_list .ui_tpl_img img{max-width: 100%;}
.ui_tpl_list .ui_tpl_img .ui_tpl_edit{display:none;width: 100%;height:100%;border:2px dashed #87b87f;position: absolute;top:0;}
.ui_tpl_list .ui_tpl_img:hover .ui_tpl_edit{display:block;}
.ui_tpl_list .ui_tpl_img .edit-btn{font-size:12px;line-height:14px;color:#fff;vertical-align:middle;padding: 10px 22px; text-align: center;background: #a6a6a6;position: absolute;left:20px;bottom:-35px;}
.ui_tpl_list .ui_tpl_img .edit-btn>img{padding-right: 5px;vertical-align: top;}
.ui_tpl_edit .bg{height:100%;background: #808080;opacity: 0.4;position: relative;}
.ui_tpl_edit a {font-size:12px;line-height:14px;color:#fff;vertical-align:middle;padding: 10px 22px; text-align: center;background: #a6a6a6;position: absolute;right:0;bottom:0;}
.ui_tpl_edit a>img{padding-right: 5px;vertical-align: top;}
.ui-tpl-sub {text-align: center;border-top: 1px solid #eeeeee;padding: 20px 0;}
.ui-tpl-sub input,.ui-tpl-sub a{margin: 0 14px;}
.ui-tpl-sub a:hover{color: #fff;}

/* 骞冲彴缁熻 */
.total-search{padding: 20px 10px;font-size: 14px;line-height:30px;}
.total-search label{max-width: 90px;}
.total-search .col-xs-4{max-width: 270px;}
.total-search select{margin: 0 5px 0 10px;}
.total-search em{max-width: 40px;display: inline-block;line-height:30px;}
.total-search input[type="button"]{display: block;max-width: 80px;height: 30px;line-height: 30px;background: #62a8d1;color: #fff;font-size: 14px;cursor: pointer;}
.total-search input[type="button"]:hover{background: #438eb9;}
.new-search{padding: 20px 10px;font-size: 14px;line-height:30px;}
.new-search .col-xs-2{width: 140px;}
.new-search .col-xs-3{width: 220px;}
.new-search select{margin: 0 5px;}
.new-search input[type="button"]{display: block;width: 80px;height: 30px;line-height: 30px;background: #62a8d1;color: #fff;font-size: 14px;cursor: pointer;}
.total-error{display: inline-block;color: #ee5757;margin-left: 10px;}
.total-search input[type="button"]:hover{background: #438eb9;}
.total-list{margin-top: 10px;padding: 10px 20px 0px 40px;border:1px #d8d8d8 dotted;overflow: hidden;}
.total-box{padding-top: 20px;}
.total-list [class*="col-xs"]{padding-top: 10px;}
.total-list [class*="col-xs"] h5{font-weight: bold;}
.total-list .help-button{position: absolute;margin-left: 5px;margin-top: -4px;}
.total-list [class*="col-xs"] span{line-height: 50px;}
.total-list [class*="col-xs"] span em{font-size: 24px;padding-right: 4px;}
.dy-green{color:#9abc32;}
.dy-blue{color:#4e47e1;}
.dy-blue1{color:#6fb3e0;}
.dy-blue2{color:#26d6f0;}
.dy-orange{color:#f79263;}
.dy-violet{color:#cb6fd7;}
.dy-red{color:#ee5757;}

input.font-wrong{ border:1px solid red;}
font.font-wrong{ display: none; color:red; margin-left: 10px;}